<app-comp-header></app-comp-header>

<!-- <app-comp-carousel></app-comp-carousel> -->

<app-comp-video video="intro.mp4"></app-comp-video>

<section class="container mt-4 mb-4">
  <h2>Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi
    explicabo dolore molestiae itaque placeat accusantium cumque necessitatibus,
    ab voluptatem debitis ad doloremque, fugit quam! Corrupti soluta natus ipsa
    fugiat.
  </p>
</section>

<app-comp-bg-separator></app-comp-bg-separator>

<section class="container mt-4 mb-4">
  <h2>Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quasi
    explicabo dolore molestiae itaque placeat accusantium cumque necessitatibus,
    ab voluptatem debitis ad doloremque, fugit quam! Corrupti soluta natus ipsa
    fugiat.
  </p>
</section>

<app-comp-footer></app-comp-footer>
